@page "/"
@using Domain.Models
@using HttpsClients.ClientInterfaces
@inject IPostService postService
@inject NavigationManager navMgr

@if (posts == null)
{
    <p>Loading..</p>
}
else if (!posts.Any())
{
    <p>No posts to display</p>
}
else
{
    @foreach (var post in posts)
    {
        
        <div class="post-card">
            <a href="PostDetails/@post.id">
                <div><img class="icon" src="img/account.png" alt="account"/>@post.Owner.UserName</div>
                <div class="post-title">
                    <h2>@post.Title</h2></div>
                <!--<div>@post.Body</div>-->
            </a>
        </div>
        
        
    }
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    private IEnumerable<Post>? posts;
    private string msg;
    [Parameter] public string? Id { get; set; } 
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            posts = await postService.GetAsync();

            Id = "1";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
    
}
