@page "/PostDetails/{Id:int}"
@using Domain.Models
@using HttpsClients.ClientInterfaces
@inject IPostService postService
@inject NavigationManager navMgr
<div class="post-card">
        <div>
        <div><img class="icon delete-button" src="img/account.png" alt="account"/>@post.Owner.UserName</div>
        <div>
            <h3>@post.Title</h3>
        </div>
        <div><h4>@post.Body</h4></div>
    </div>
    <div>
        <AuthorizeView>
            <Authorized>
                @if (post.Owner.UserName == @context.User.Identity.Name)
                {
                    <div><img class="icon delete-button" src="img/bin.png" alt="bin" @onclick="Delete"/></div>
                }
            </Authorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private Post? post;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            post = await postService.GetByIdAsync(Id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    private async Task Delete()
    {
        try
        {
            await postService.DeletePost(Id);
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
}