@page "/PostDetails/{Id:int}"
@using Domain.Models
@using HttpsClients.ClientInterfaces
@inject IPostService postService
<h3>PostDetails</h3>


<div class="post-card">
    <div><img class="icon" src="img/account.png" alt="account"/>@post.Owner.UserName</div>
    <div><h3>@post.Title</h3></div>
    <div><h4>@post.Body</h4></div>
    
</div>

@code {
    private Post? post;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            post = await postService.GetByIdAsync(Id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
}